<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eduphoria</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="Img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
  
    <nav id="navbar_top"
      class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
    >
      <a href="/student/shome" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0"><span style="color: #06bbcc">Edu</span>Phoria</h2>
      </a>

      <form
        style="align-items: center; display: flex"
        class="d-flex"
        method="post"
        action="/course/search"
      >
        <input
          name="cname"
          class="form-control me-2"
          type="search"
          placeholder="Search Courses"
          aria-label="Search"
        />
        <button class="btn" type="submit" style="color: #06bbcc">
          <i class="fa fa-search"></i>
        </button>
      </form>
      <button
        type="button"
        class="navbar-toggler me-4"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
       
        <i class="fas fa-hamburger" style="color: #06bbcc;"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="/student/shome" class="nav-item nav-link">Home</a>
          <a href="/student/about" class="nav-item nav-link">About</a>
          <a href="/student/courses" class="nav-item nav-link">Courses</a>
          <a href="/student/contact" class="nav-item nav-link">Contact</a>
          <a href="/student/help" class="nav-item nav-link">FAQs</a>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="fas fa-user"></i>Welcome,<%=student.firstName%></a
            >
            <div class="dropdown-menu fade-down m-0">
              <a href="/student/profile" class="dropdown-item "
                ><i style="padding-right: 2px;" class="fas fa-power-off" aria-hidden="true"></i>Profile</a
              >
              <a href="/logout" class="dropdown-item"> <i class="fas fa-sign-out-alt "></i> Signout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
 

