<%-include('partials/header.ejs');%>

<h1 class="display-3 text-center mt-5 mb-5" style="font-size: 4rem;">About Us Page</h1>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row "  >
            <div class="col-lg-6 "  style="min-height: 200px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.png" alt="about Img" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 ">
                <h1 class="mb-4">Welcome to Eduphoria!!</h1>
                <p class="mb-4">Education helps us get exposure to new ideas and concepts that we can use to appreciate and improve the world around us and the world within us.</p>
                <p class="mb-4">All things are possible because anything can be learned.</p>
                <div class="row  mb-4">
                    <div class="col-sm-6">
                        <p ><i class="text-primary me-2"></i>Quizzes</p>
                    </div>
                    <div class="col-sm-6">
                        <p ><i class="text-primary me-2"></i>Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p ><i class="text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p ><i class="text-primary me-2"></i>Recorded Classes</p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>



<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-5">Expert Instructors</h1>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-6 ">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Img/teacher2.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4">
                        <h5 >Dr.Ravi Krishna</h5>
                        <small>FrontEnd Developer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -25px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Img/teacher3.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4">
                        <h5 >Dr.Leela</h5>
                        <small>Web Developer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 " >
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Img/teacher4.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4">
                        <h5 >Dr.Jayasri</h5>
                        <small>Backend Developer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 " >
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/Img/teacher5.jpg" alt="">
                    </div>
                   
                    <div class="text-center p-4">
                        <h5 >Dr.Jayanth</h5>
                        <small>Programmer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class=" d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('partials/footer.ejs');%>
