
<%-include('partials/header.ejs');%>
    
    <div class="container h-80 w-100  m-40">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" style="height: 700px;" src="https://thumbs.dreamstime.com/b/digital-library-online-education-concept-laptop-computer-colorful-books-d-rendering-digital-library-online-education-125338333.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h1 class="text-white text-uppercase mb-3 ">Best Online Courses</h1>
                                <h1 class=" text-white ">Best Online Learning Platform</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Get Educated Online From Your Home.Register now and Enroll the courses and lets break the records.</p>
                                <a href="/signup" class="btn btn-light py-md-3 px-md-5 " style="background-color: #06bbcc; color: white;">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid"style="height: 700px;" src="img/carousel-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-white text-uppercase mb-3 ">Become an Instructor</h5>
                                <h1 class=" text-white ">Best Online Learning Platform</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Join as teacher and teach our students as best as possible</p>
                                <a href="/tsignup" class="btn btn-light py-md-3 px-md-5 ">Become Instructor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center " >
                <h1 class="mb-5">Popular Courses</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 " >
                    <div class="course-item border-top">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="img/courses/courseimg/1.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="/courses/course1" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">Read More</a>
                               
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0 price">
                            <h3>₹2999.00</h3>
                            <div class="mb-3 rating" >
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star-half orange"></small>
                                <small>(123)</small>
                            </div>
                            <h5 class="mb-4 title">JavaScript for Begginners </h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2 instructor"><i class="fa fa-user-tie text-primary me-2"></i>Dr.Bheemappa</small>
                            <small class="flex-fill text-center border-end py-2 duration"><i class="fa fa-clock text-primary me-2"></i>20 Hrs</small>
                            <small class="flex-fill text-center py-2 students"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 " >
                    <div class="course-item  border-top">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="img/courses/courseimg/2.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="/courses/course2" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px ;">Read More</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0 price">
                            <h3>₹2999.00</h3>
                            <div class="mb-3 rating" >
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star-half orange"></small>
                                <small>(123)</small>
                            </div>
                            <h5 class="mb-4 title">Object Oriented Programming(Java)</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2 instructor"><i class="fa fa-user-tie text-primary me-2"></i>Dr.Shataana</small>
                            <small class="flex-fill text-center border-end py-2 duration"><i class="fa fa-clock text-primary me-2"></i>20 Hrs</small>
                            <small class="flex-fill text-center py-2 students"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 " >
                    <div class="course-item border-top">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="img/courses/courseimg/5.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="/courses/course5" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">Read More</a>
                              
                            </div>
                        </div>
                        <div class="text-center price" style="padding: 4px;">
                            <h3>₹2999.00</h3>
                            <div class="mb-3 rating" >
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star orange"></small>
                                <small class="fa fa-star-half orange"></small>
                                <small>(3)</small>
                            </div>
                            <h5 class="mb-4 title">Web Application Development</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2 instructor"><i class="fa fa-user-tie text-primary me-2"></i>Dr.Himangshu Sharma</small>
                            <small class="flex-fill text-center border-end py-2 duration"><i class="fa fa-clock text-primary me-2"></i>19 Hrs</small>
                            <small class="flex-fill text-center py-2 students"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 text-center mt-3">
                        <a href="/courses" class="btn btn-theme">View All Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-5">Expert Instructors</h1>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-6 ">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/Bheemappa.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4">
                        <h5 >Dr. Bheemappa Halavar</h5>
                        <small>FrontEnd Developer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -25px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/Dr-Priyambada.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4">
                        <h5 >Dr. Priyambada Subudhi</h5>
                        <small>Backend Developer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 " >
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/Himangshu.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4">
                        <h5 >Dr. Himangshu Sarma</h5>
                        <small>Backend Developer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 " >
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/Manipriya.jpg" alt="">
                    </div>
                   
                    <div class="text-center p-4">
                        <h5 >Dr. S. Manipriya</h5>
                        <small>FrontEnd Developer</small>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class=" d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container-xxl py-5 " >
    <div class="container">
      <div class="text-center">
        <h1 class="mb-5">Our Students Say!</h1>
      </div>
      <div class=" position-relative">
        <div class="text-center">
          <img
            class="border rounded-circle p-2 mx-auto mb-3"
            src="../Img/testimonial-1.jpg"
            style="width: 80px; height: 80px"
          />
          <h5 >Chaitanya</h5>
          
          <div class=" bg-light text-center p-4">
            <p >
              E-learning as an alternate education option has become popular since
              the last few years. However, the whole idea of learning online was
              majorly adopted across India during this pandemic incident. The
              whole episode caught us off the guard and we had to spend 100% of
              time indoor.
            </p>
          </div>
        </div>
        <div class=" text-center">
          <img
            class="border rounded-circle p-2 mx-auto mb-3"
            src="../Img/testimonial-2.jpg"
            style="width: 80px; height: 80px"
          />
          <h5 >Preetham</h5>
          
          <div class=" bg-light text-center p-4">
            <p >
              For starters, students get to learn whatever they want and whenever
              they want online. E-learning platforms come with a dedicated app and
              a website to make sure the education never stops. Not only that, but
              also the convenience they provide to students is just beyond
              expectations.
            </p>
          </div>
        </div>
        <div class=" text-center">
          <img
            class="border rounded-circle p-2 mx-auto mb-3"
            src="https://img.freepik.com/free-icon/employee_318-718912.jpg?size=338&ext=jpg&ga=GA1.2.873243650.1672493420&semt=ais"
            style="width: 80px; height: 80px"
          />
          <h5 >Abhishikth</h5>
          
          <div class="testimonial-text bg-light text-center p-4">
            <p >
              E-learning video lectures are prepared by professionals and checked
              by the experts which guarantees 100% authentic knowledge sharing.
            </p>
          </div>
        </div>
        <div class=" text-center">
          <img
            class="border rounded-circle p-2 mx-auto mb-3"
            src="https://img.freepik.com/free-icon/employee_318-718912.jpg?size=338&ext=jpg&ga=GA1.2.873243650.1672493420&semt=ais"
            style="width: 80px; height: 80px"
          />
          <h5 >Narasimha</h5>
         
          <div class="bg-light text-center p-4">
            <p >
              Online classes, on e-learning platforms, make sure that every
              concept is conveyed in the most appropriate way. Colorful
              animations, amazing graphics and images make the online courses even
              more intriguing, interesting, and fun.
            </p>
          </div>
        </div>
        <div class="text-center">
          <img
            class="border rounded-circle p-2 mx-auto mb-3"
            src="https://img.freepik.com/free-icon/employee_318-718912.jpg?size=338&ext=jpg&ga=GA1.2.873243650.1672493420&semt=ais"
            style="width: 80px; height: 80px"
          />
          <h5 >Manjith</h5>
         
          <div class="bg-light text-center p-4">
            <p >
              These online lectures can be downloaded inside the app and can be
              watched multiple times without limits whenever students forget the
              concepts or need revision.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
 


    <%-include("partials/footer.ejs") %>;

   
   


    
