<%-include('partials/header.ejs');%>
  <style>
    .wrapper {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    header {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .login {
      width: 100%;
      padding: 10px;
      background-color: #06bbcc;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
    .sign-txt {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <% if (messages.success) { %>
    <div class="alert alert-success"><%= messages.success %></div>
  <% } %>
  
  <% if (messages.error) { %>
    <div class="alert alert-danger"><%= messages.error %></div>
  <% } %>
  <div class="wrapper" style="margin-top: 80px; margin-bottom: 80px;">
    <img src="../Img/login.png" alt="" width="180" height="180">
    <header>Login </header>
    <form method="post" action="/login" id="frmRegister">
      <input type="email" placeholder="Email" name="email" id="email" autocomplete="off">
      <div class="form-floating mb-3">
      <input type="password" id="password" placeholder="Password" name="password" autocomplete="off">
      <i style="margin-right: 5px; margin-bottom: 5px;" class="far fa-eye position-absolute top-50 end-0 translate-middle-y cursor-pointer" onclick="togglePasswordVisibility('password')"></i></div>
      <button class="login" type="submit">Login</button>
    </form>
    <div class="sign-txt">
      Not yet a member? <a href="/signup">Sign up now</a>
    </div>
  </div>
  <div class="loader-container">
    <div class="book-loader"></div>
</div>
  <script>
    function togglePasswordVisibility(passwordId) {
      const passwordInput = document.getElementById(passwordId);
      const passwordIcon = passwordInput.nextElementSibling;
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        passwordIcon.classList.remove("far", "fa-eye");
        passwordIcon.classList.add("far", "fa-eye-slash");
      } else {
        passwordInput.type = "password";
        passwordIcon.classList.remove("far", "fa-eye-slash");
        passwordIcon.classList.add("far", "fa-eye");
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
    const mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    const frmRegister = document.getElementById('frmRegister');
  
    frmRegister.addEventListener('submit', function(e) {
      e.preventDefault();
  
      const email = document.getElementById('email').value;
      if (email.length == 0) {
        Swal.fire({
          icon: 'error',
          text: 'Invalid email data',
        });
        return;
      }
  
      const password = document.getElementById('password').value;
      if (password.length == 0) {
        Swal.fire({
          icon: 'error',
          text: 'Invalid password data',
        });
        return;
      }
      frmRegister.submit();
    });
  </script>
  

  <%-include("partials/footer.ejs") %>
