<%-include('partials/header.ejs');%>
  <style>
    /* Add custom CSS styles here */
    .wrapper {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    header {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .login {
      width: 100%;
      padding: 10px;
      background-color: #06bbcc;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
    .sign-txt {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="wrapper" style="margin-top: 80px; margin-bottom: 80px;">
    <img src="../Img/login.png" alt="" width="180" height="180">
    <header>Login </header>
    <form method="post" action="/login">
      <input type="email" placeholder="Email" name="email" autocomplete="off">
      <input type="password" placeholder="Password" name="password" autocomplete="off">
      <button class="login" type="submit">Login</button>
    </form>
    <div class="sign-txt">
      Not yet a member? <a href="/signup">Sign up now</a>
    </div>
  </div>

  <%-include("partials/footer.ejs") %>
